Package: com.vyro.itemsinbag
Name: VyroClient Items in Bag
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Adds Items in Bag Spawner section to VyroClient
Maintainer: You
Section: Tweaks
Depends: mobilesubstrate
